<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="mp_info">
      <%= gravatar_for microposts.user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
      <span><b>Likess:</b> <%= @micropost.likes.count %></span>
    </section>

  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users like">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>